---
layout: default
title: Nikolaj Bjørnager
permalink: /blog/
---

<!-- Setup canvas bg -->
<canvas id="nokey"></canvas>

<!-- Nav bar -->
<header class="site-header blog-header">
  <div class="site-title"><a href="/">Nikolaj Bjørnager</a></div>
  <nav>
    <a class="nav-link" href="/">HOME</a>
    <a class="nav-link" style="color:#58a6ff" href="/blog">BLOG</a>
    <a class="nav-link" href="/portfolio">PORTFOLIO</a>
  </nav>
</header>

<main class="blog-container">
  {% assign latest = site.posts | where_exp: "post", "post.hidden != true" | first %}

  {% if latest %}
    <h1 class="blog-heading">Latest post</h1>

    <a href="{{ latest.url }}" class="latest-card"
       style="background-image:url('{{ latest.thumb | default: '/images/post-thumbs/default.webp' | relative_url }}');">
      <div class="latest-overlay">
        <h2>{{ latest.title }}</h2>
        <p>{{ latest.date | date: "%B %d, %Y" }}</p>
      </div>
    </a>
  {% endif %}

  <hr class="blog-sep">
  <h2>All posts</h1>
  <div class="blog-grid">
  {% for post in site.posts %}
    {% unless post.hidden %}
      <a href="{{ post.url }}" class="blog-card"
        style="background-image:url('{{ post.thumb | default: '/images/post-thumbs/default.webp' | relative_url }}');">
        <div class="card-overlay">
          <strong>{{ post.title }}</strong>
          <small>{{ post.date | date: "%B %d, %Y" }}</small>
        </div>
      </a>
    {% endunless %}
  {% endfor %}
</div>


</main>

<!-- load js -->
<script src="{{ '/js/canvas.js' | relative_url }}"></script>
