<!DOCTYPE html>
<html lang="da">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="utf-8">

    <!-- rich embeds -->
    <meta property="og:title" content="Nikolaj Bjørnager" />
    <meta property="og:description" content="My personal website. Come check out my blog posts!" />
    <meta property="og:image" content="https://github.com/NikoBK/NikoBK.github.io/blob/master/images/thumbs/default.webp" />
    <meta property="og:url" content="https://nikolajbjoernager.dk/" />
    <meta property="og:type" content="website" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ '/styles/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styles/rouge.css'   | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  </head>

  <body>

    <canvas id="nokey"></canvas>
    {{ content }}
    <script src="{{ '/js/canvas.js' | relative_url }}"></script>

  </body>

</html>
